@use '../../../libs/' as *;

[class*="admin-posts-"] {
    .box-requests .requests {
        max-height: 400px;
        overflow-y: auto;
        display: grid;
        gap: $emM;
    
        .request {
            display: grid;
            padding: $emL;
            border-radius: $emM;
            background-color: $body;

            .title,
            .author { font-size: $ftSmall; }
            span:last-child { text-align: right; }
        }
    }
}