@use '../../../libs' as *;

@media only screen and (min-width: 600px) {
    [class*="template"] {
        width: calc(100% - 1em);
        gap: $emXL;
        &:not(.templateOne) { grid-template-columns: calc(65% - .5em) calc(35% - .5em); }
    }

    .templateTwo {
        grid-template-areas: 
        "left right";
    }

    .templateThree {
        grid-template-areas: 
        "top top"
        "left right";
    }
}

@media only screen and (min-width: 768px) {
    * {
        ::-webkit-scrollbar {
            width: 17px;
            box-sizing: border-box;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: $emM;
            border: 1px solid #535353;
            box-shadow: inset 0px -1px 1px rgba(0,0,0,0.2);
            background-color: #ffffff;
            background: #fff;
        }
        ::-webkit-scrollbar-thumb:active {
            background: #CCCCCC;
        }
        ::-webkit-scrollbar-track-piece {
            border-radius: $emM;
            background-color: #d9d9d9;
            box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
        }
    }
    
    [class*="template"] {
        margin: 100px auto auto auto;
        width: 80%;
    }

    .navs { opacity: 1; }
}