@use '../../../libs/' as *;

.admin-ranks-new .left {

.rights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3em;

    max-height: 500px;
    overflow-y: auto;
}

.right { padding: $emM; }

}