@use '../../libs' as *;
@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto);

.users-param .avatarimage {
    .categories {
        [class*="choice-"] {

        }

        .choice-1 { background-image: url('/img/avatarimage/Genre.png'); }
        .choice-2 { background-image: url('/img/avatarimage/Tete.png'); }
        .choice-3 { background-image: url('/img/avatarimage/Haut.png'); }
        .choice-4 { background-image: url('/img/avatarimage/Bas.png'); }
    }

    .editor {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: $emL;
    }

    .right {
        #avatar {
            @include bgMiddle;
            width: 100%; height: 220px;
        }

        .rotate {
            width: 100%; height: 29px;
            background-repeat: no-repeat;
        }
        .left {
            background-position: center right;
            background-image: url('/img/avatarimage/rotate_left.png');
        }
        .right {
            background-position: center left;
            background-image: url('/img/avatarimage/rotate_right.png');
        }
    }


    /* -------------------------- TO OPTIMIZE --------------------------- */
    #look {
        display: none;
        position: absolute;
        z-index: 8;
    }

    /* Choix primaire */
    .background-image {
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }
    .mainNav {
        height: 35px;
        width: 47px;
    }
    #avatarimage_content .content_choix .first_child .mainNav {
        padding: 10px;
        color: #666;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 14px;
        text-shadow: 0 1px 0 #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 1px 1px 0 #fff, 1px 1px 0 #999;
        background-color: #efefef;
        cursor: pointer;
        box-sizing: border-box;
    }
    #avatarimage_content .content_choix .first_child .selected {
        box-shadow: 1px 1px 0 #fff, inset 1px 1px 0 #999;
    }
    /* FIN */


    /* Choix secondaire */
    .nav {
        padding: 5px;
    }
    .nav.selected {
        background-color: #E2E2E2;
        border: 1px solid rgba(0,0,0,0.6);
        border-top: none;
        border-radius: 0px 0px 5px 5px;
        box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.3);
        font-weight: bolder; 
        position: relative;
        z-index: 9;
        top: -1px;
    }
    /* FIN */


    /* Choix couleur */
    #avatarimage_content {
        margin: 0 auto;
        width: 550px;
        border: 1px rgba(0,0,0,0.6) solid;
        border-radius: 8px;
        overflow: hidden;
        background-color: #ECECEC;
    }
    #palette {
        margin-top: 30px;
        overflow-y: auto;
        height: 100px;
    }
    .palette-child {
        display: inline-block;
        height: 25px;
        width: 25px;
        cursor: pointer;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 20px;
        border: 2px solid rgba(0,0,0,0.3);
    }
    .palette-child.selected {
        cursor: auto;
        box-shadow: inset 0px 0px 0  3px rgba(255,255,255,0.3);
    }
    /* FIN */


    /* Choix vêtement */
    #clothes {
        height: 200px;
        overflow-y: scroll;
    }  
    .clothes-object {
        height: 45px;
        cursor: pointer;
        width: 45px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        line-height: 50px;
        background-position-x: center;
        border-radius: 35px;
        background-repeat: no-repeat;
        border: 3px solid #DBDAD5;
        background-color: #C9C8C3;   
    }
    .clothes-object.selected {
        border-radius: 35px;
        border: 3px solid rgba(52, 152, 219,0.6);
        background-color: #B1B1B1;   
        cursor: auto;
    }
    .clothes-object.hr, .clothes-object.hd, .clothes-object.he, .clothes-object.ea, .clothes-object.ha, .clothes-object.fa {
        background-position-y: -20px;   
    }  
    .clothes-object.ca, .clothes-object.ch, .clothes-object.cp, .clothes-object.cc {
        background-position-y: -40px;
    }
    .clothes-object.wa {
        background-position-y: -60px;   
    }
    .clothes-object.sh {
        background-position-y: -80px;   
    }  
    .clothes-object.remove {
        background-position-y: center;   
        background-image: url('/img/avatarimage/remove.png');
    } 
    .clothes-object.lg {
        background-position-y: -70px;   
    }
    /* FIN */

    .content_choix {
        font-family: Roboto;
        font-weight: lighter;
        height: 74px;
        border-bottom: 1px rgba(0,0,0,0.6) solid;
        background-color: #E2E2E2;
        padding: 20px;
        margin-bottom: 40px;
    }
    .content_choix > ul > li {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }
    .content_choix > .sub {
        display: none;
    }  
    .content_choix > ul.sub.selected {
        display: block;   
    }
    .content_choix .sub {
        display: none;
    }
    .content_choix ul.sub.selected > .sub {
        display: inline-block;   
    }


    #code {
        position: absolute;
    }
}